# ----- 公开变量（浏览器可访问，必须 NEXT_PUBLIC_ 前缀）-----
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000/api/v1
NEXT_PUBLIC_GA_ID=                        # Google Analytics
NEXT_PUBLIC_SITE_NAME=WebBase

# ----- 私有变量（仅服务端可访问）-----
API_SECRET_KEY=
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=                          # 生成命令: openssl rand -base64 32
DATABASE_URL=                             # 如果前端有独立数据库